* {
    text-decoration:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Navbar */

.navbar {
 background-color: #271B1F;
}

.navdiv {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo a{
    font-size:24px;
    color: #f9faf8;
    padding-left: 275px;
}

ul {
    padding-right: 100px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color:#e5e7eb;
    font-size: 18px;
    padding-right:30px;
}

/* Main Body */

.main-body-box {
    display: flex;
    justify-content: space-around;
    background: #271B1F;
}

.main-body {
    padding: 75px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    max-width: 400px;
    padding-bottom: 20px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 450px;
    padding-bottom: 20px;
}

.body-button {
    font-size: 14px;
    color: #e5e7eb;
    background-color: #6C5452;
    border: solid 2px #6C5452;
    width: 100px;
    height: 30px;
    border-radius: 6px;
}

.body-image {
    align-self: center;
    padding-top: 50px;
    padding-right: 250px;
}

/* Second body box */

.second-body-box {
    display:flex;
    flex-direction:column;
    text-align: center;
    background-color: #8A7A6D;
}

.heading-text {
    font-size: 28px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #f9faf8;
}

.illustrations {
    margin: 0px 300px 30px 300px;
}


.illustration-images {
    display:flex;
    align-items: center;
    justify-content: space-around;
}


.illustration-images img {
    border: 2px solid #271B1F;
    border-radius: 50%;
    margin-bottom: 10px;
}

.illustration-description {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom:50px;
    color: #e5e7eb;
    font-size: 18px;
}

.illustration-description div {
    width: 200px;
}

/* Quote Box */

.quote-box {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #5D4140;
    padding: 100px 150px 100px 150px;
}

.quote {
    font-size: 32px;
    margin-bottom: 30px;
    color:#f9faf8;
}

.person {
    align-self: flex-end;
    font-size: 18px;
    color:#e5e7eb;
}

/* Call to Action */

.call-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #271B1F;
    padding: 100px 300px 100px 200px;
}

.call-to-action {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-text {
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 10px;
}

.sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

.call-box button {
    font-size: 18px;
    border:0;
    color: #e5e7eb;
    background-color: #6C5452;
    width: 125px;
    border-radius: 6px;
    height: 35px;
}

/* Copyright Footer */

.footer {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    color: #f9faf8;
    background-color: #000000;
}


