* {
    text-decoration:none;
}

/* Navbar */

.navbar {
 background-color: #1f2937;
 font-family: Arial, Helvetica, sans-serif;
}

.navdiv {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo a{
    font-size:24px;
    color: #f9faf8;
    padding-left: 275px;
}

ul {
    padding-right: 100px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color:#e5e7eb;
    font-size: 18px;
    padding-right:30px;
}

/* Main Body */

.main-body-box {
    display: flex;
    justify-content: space-around;
    background: #1f2937;
}

.main-body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    max-width: 350px;
    padding-bottom: 20px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 450px;
    padding-bottom: 20px;
}

.body-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e5e7eb;
    background-color: #3882f6;
    border-color: #3882f6;
    width: 100px;
    height: 25px;
    border-radius: 6px;
}

.body-image {
    align-self: center;
    padding-top: 50px;
    padding-right: 250px;
}
